[Unit]
Description=doh-proxy
After=network.target remote-fs.target nss-lookup.target

[Service]
Environment="DOH_PROXY_ARGS=--listen-address 127.0.0.1:3000 --server-address 127.0.0.1:53"
User=nobody
Group=nobody
ExecStart=/usr/bin/doh-proxy $DOH_PROXY_ARGS

# Hardening
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
