[Unit]
Description=TeamSpeak 3 TSDNS Server
After=network.target

[Service]
Environment=LD_LIBRARY_PATH=/opt/teamspeak3-server
WorkingDirectory=/etc/teamspeak3-server
ExecStartPre=/bin/rm -f /dev/shm/tsdns_update
ExecStart=/opt/teamspeak3-server/bin/tsdnsserver
StandardOutput=syslog
StandardError=syslog
User=teamspeak3
Group=teamspeak3
Restart=always

[Install]
WantedBy=multi-user.target

# vim:syntax=dosini
